$AppColor1: #ffffff;
$AppColor2: #f7f7f7;
$AppColor3: #dfe3ee;
$AppColor4: #3b5998;
$AppColor5: #324b81;

body{
    background-color: $AppColor1;
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Ubuntu', sans-serif;
}
.Btn{
    background-color: $AppColor4;
    border-color: $AppColor4; 
}
.Btn:hover,
.Btn:focus,
.Btn:active{
    background-color: $AppColor5 !important;
    border-color: $AppColor5 !important;
    color:white; 
}
.LoginBlock{
    width: 450px;
    margin: auto;
    margin-top: 10%;
    padding: 40px 30px;
    background: $AppColor2;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.47);
}
.LoginTitle{
    text-align: center;
    margin-bottom: 35px;
}    
.LoginBtn{
    font-size: 25px;
    width: 100%;
}
.LoginBtn:disabled{
    background-color: grey !important;
    border-color: grey !important;
}
.LoginIcons{
    font-size: 28px;
    position: relative;
    top: -11px;
}
.LoginIconsShield{
    left: 5px;
}
.MainBlock{
    width: 75%;
    margin: auto;
    margin-top: 100px;
}
.NavigationBlock{
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    background: $AppColor4;
    padding: 5px;
}
.NavigationBlockLinks{
    margin-right: 15px;
    margin-left: 40%;
}
.NavigationBlockLinks a{
    margin-right: 15px;
    transition: .2s;
    color:$AppColor2;
}
.NavigationBlockLinks a:hover{
    color:$AppColor3;
    text-decoration: none;
}
.InvoiceItem{
    padding-top: 30px;
}
.BtnBlock{
    margin-top: 30px;
    margin-right: 12px;
}