body{
    background-color: white;
}
.LoginBlock{
    width: 550px;
    margin: auto;
    margin-top: 10%;
    padding: 70px;
    background: lightgray;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.47);
}
.LoginTitle{
    text-align: center;
    margin-bottom: 35px;
}    
.LoginBtn{
    width: 100%;
    background-color: orangered;
    border-color: brown;
}
.LoginBtn:disabled{
    background-color: grey !important;
    border-color: grey !important;
}
.LoginBtn:hover{
    background-color: brown;
}
.LoginIcons{
    font-size: 28px;
    position: relative;
    top: -11px;
}
.LoginIconsShield{
    left: 5px;
}
.HomePageBlock{
    width: 75%;
    margin: auto;
    margin-top: 100px;
}